* {
  box-sizing: border-box;
  --bg-color0: black;
  --bg-color1: blue;
  --bg-color2: rgb(65, 188, 229);

  /* Gold Pallets */
  --col1: #050505;
  --col2: #0f0e0c;
  --col3: #755b00;
  --col4: #d7a920;
  --col5: #d1b200;
  --col6: #e1d75b;

  /* Text Colors */
  --txt-col0: orange;
  --txt-col1: #ab79d6;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
/* General Section */

body {
  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: rgb(34,35,44);
  color: white;
  align-items: center;
  line-height: 1.5rem;
  color: black;
  margin-bottom: 0;
}

a {
  font-size: repeat(4, minmax(0, 1fr));
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover{
  border-color: var(--col5);
}
/* a {
    
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 300px 0 0 0 #54b3d6;
    color: white;
  } */

/* =========================== */
/* Most Common */
/* =========================== */
.header-bar{
  display: none;
  text-align:left;
	padding: 10px 0;
	width:auto;
  margin: -8px -8px -8px -8px;
  margin-top: -16px;
	background-color: #1C1B19;
	color: #fff;
	position: relative;
	clear: both; 
  align-items: center;
}
#header{
  margin: 0px;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.5rem;
  color: var(--col5);
}
.sec-heading {
  color: var(--txt-col0);
  text-align: center;
  margin-bottom: 1rem;
}
.out-sec {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* =========================== */
/* Nav-Bar */
/* =========================== */
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: right;
  padding: 0.5rem;
  margin: -8px -8px -8px -8px;
  margin-bottom: 1rem;
  margin-top: -16px;
  background-color: transparent;
  background-color: #1C1B19;

}

.nav-bar a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  color: goldenrod;
  font-weight: bold;
  margin: 1rem;
  border-width: 1px;
  border-style: solid;
}


@media only screen and (max-width: 400px){
  .nav-bar{
    display: none;
  }
  .header-bar{
    display:block!important;

  }
}
/* =========================== */
/* Banner */
/* =========================== */

/* =========================== */
/* About Section Starts*/
/* =========================== */
.banner{
  display: flex;
  flex-direction: row;
}

.hello-msg {
  text-align: left;
}
.about-me {
  /* display: flex;
    flex-direction: column; */
  align-items: center;
}
.profile-pic{
  width: 40%;
}
.profile-pic img{
  max-width: 100%;
  max-height: 80vh;
}
.about-me{
  width: 60%;
}
.about-me h1 {
  /* position: relative;  */
  font-family: "Courier New", Courier, monospace;
  color: gold;
  line-height: 2rem;
  margin: 1rem;
}
.about-me p {
  text-indent: 5rem;
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
}
@media only screen and (max-width: 400px){
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-me p{
    text-indent: 0px;
  }
  .profile-pic{
    width: 100%;
  }
  .about-me{
    width: 100%;
  }
}
/* =========================== */
/* About Section Ends*/
/* =========================== */

/* =========================== */
/* Coding Section Starts */
/* =========================== */
th img {
  width: 16px;
  height: 16px;
  padding: 2px;
}
#coding-table {
  width: 90vw;
  color: black;
  border: none;
  border-collapse: collapse;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#coding-table td {
  border: 0;
}

#coding-table th,
#coding-table td {
  padding: 1rem;
  margin: 0.5rem;
}
#coding-table tr {
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 2rem;
  background-color: #04aa6d;
  box-shadow: 2px 2px 4px 4px #192828;
  transition: transform 0.2s;
}
#coding-table tr:hover {
  transform: scale(1.01);
  opacity: 0.9;
  border: none !important;
  border-collapse: collapse;
}

.coding-prof {
  align-items: center;
}
.coding-out-card {
  border: 1px solid gray;
}
.coding-card {
  padding: 0.5rem;
  background-color: rgb(108, 101, 101);
}

/* =========================== */
/* Codeing Section Ends */
/* =========================== */

/* =========================== */
/* Education Starts */
/* =========================== */
.education{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: auto;
}
.edu-card {
  width: 90%;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.7rem;
}
.edu-card h2 {
  text-align: center;
  margin: 0.5rem;
}
.edu-card h4 {
  margin: 0.5rem;
  text-align: center;
}
.edu-card p {
  margin: 0.5rem;
  text-align: center;
}

#college-card {
  border: 2px solid var(--col5);
  background-color:transparent;
  color: wheat;
}

#school-card {
  background-color: var(--col5);
}

@media only screen and (max-width: 400px){
  .education{
    display: flex;
    flex-direction: column;
  }
}
/* =========================== */
/* Education Ends */
/* =========================== */

.line-1 {
  height: 1px;
  width: 90vw;
  background: rgb(204, 106, 106);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* =========================== */
/* Certificate Starts */
/* =========================== */
.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: auto;
  background-color: transparent;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
  margin: 0.5rem;
  border-radius: 5px;
  height: rem;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 2fr;
  }
}

/* Skills */

.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: auto;
  padding: 1rem;
}
.skill-card {
  padding: 1rem;
  border-radius: 0.5rem;
  /* background-color: #96d4d4; */
  /* background-color: var(--col4); */
  background-color: transparent;
  border: 2px solid var(--col4);

  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}
.skill-card:hover {
  transform: scale(1.25);
}

.skill-card img {
  height: 64px;
  width: 64px;
}



.skill-card h3{
    width: 10rem;
    text-align: center;
    color: var(--col4);
}
@media only screen and (max-width: 400px){
  .skill-grid{
    grid-template-columns: 1fr;
  }
}

/* Skills Ends */


/* Programming Starts */
.pro-profile{
  color: #04aa6d;
 
}

.coding-img{
  width: 30%;
  align-content: center;
}

.coding-img img{
  max-width: 100%;
  max-height: 100%;
}

.coding-details{
  width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}
.coding-details h1{
  color: gold;
}
.coding-details p{
  text-indent: 20%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}
.coding-details p span{
  color: gold;
  /* font-style: italic; */
}
.coding-details a{
  background-color: gray;
  padding: 0.2rem;
}

.coding-details a, h1, p{
  margin-bottom: 1rem;
}


.pro-profile-card{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid var(--col5);
  box-shadow: var(--col5) 0px 1.5px 6px;
}
@media only screen and (max-width: 400px){
  .pro-profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .coding-details{
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    text-align: center;
  }
  .coding-details p{
    text-indent: 0px;
  }
  .coding-details h1, p, a{
    margin-bottom: 1rem;
  }
}

/* Programming Ends */

/* Certificates Starts */
.certificate-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificate-img{
  width: 25%;
  justify-content: center;
}
.certificate-img img{
  max-width: 100%;
  max-height: 100%;
}
.certificate-details{
  width: 70%;
  text-align: left;
  color: goldenrod;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.certificate-details ul{
  list-style-type: none;
}
.certificate-container ul li{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  word-spacing: 1px;
}
.certificate-container ul li::before{
  content: "⭐";
}
@media only screen and (max-width: 400px){
  .certificate-container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .certificate-details{
    width: 100%;
  }
}
/* Certifciates Ends */

/* new Certificae  */
.cert-column img{
  max-width: 100%;
  max-height: auto;
}
.cert-column{
  float: left;
  width: 30%;
}
.cert-row::after{
  content: "";
  display: table;
  /* grid-template-columns: 1fr 1fr 1fr; */
  clear: both;
}



.cert-column{
  margin: 1rem;
  color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}
/* new end */

/* Contact Form Starts */
.contact-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-card {
  width: 15rem;
}
.contact-card h3 {
  color: gold;
}
.contact-card img {
  height: 64px;
  width: 64px;
}
@media only screen and (max-width: 400px){
  .contact-box{
    display: flex;
    flex-direction: column;
  }
}
/* Contact form ends */

/* Footer Starts */

footer{
 	text-align:center;
	padding: 30px 0;
	width:auto;
	margin: -8px -8px -8px -8px;
	background-color: rgb(2, 2, 42);
	color: #fff;
	position: relative;
	clear: both;  
}

/* Footer Ends */