* {
  box-sizing: border-box;

  /* Gold Pallets */
  --col1: #050505;
  --col2: #0f0e0c;
  --col3: #755b00;
  --col4: #d7a920;
  --col5: #d1b200;
  --col6: #e1d75b;

  /* Text Colors */
  --txt-col0: orange;
  --txt-col1: #ab79d6;

  /* BG Colors */
  --bg-col1: rgb(34, 35, 44);
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

/* General Section */

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 350px;
  background-color: rgb(34, 35, 44);
  color: white;
  align-items: center;
  line-height: 1.5rem;
  color: black;
  margin-bottom: 0;
}

a {
  font-size: repeat(4, minmax(0, 1fr));
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  border-color: var(--col5);
}


/* =========================== */
/* Most Common */
/* =========================== */
/* .header-bar{
  display: none;
  text-align:left;
	padding: 10px 0;
	width:auto;
  margin: -8px -8px -8px -8px;
  margin-top: -16px;
	background-color: #1C1B19;
	color: #fff;
	position: relative;
	clear: both; 
  align-items: center;
} */
/* #header{
  margin: 0px;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.5rem;
  color: var(--col5);
} */
.sec-heading {
  color: var(--txt-col0);
  text-align: center;
  margin-bottom: 1rem;
}

.out-sec {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* =========================== */
/* Nav-Bar */
/* =========================== */


.nav-bar {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  width: 100%;
}

.main-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}




#list-icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

#nav-links {
  display: none;
}


#nav-links a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  align-items: left;
  font-size: 1rem;
  color: goldenrod;
  font-weight: bold;
}

#about-me-para {
  text-align: justify;
  text-justify: inter-word;
  font-family: Menlo, Monaco, Consolas;
  margin-right: 1rem;
  text-indent: 5rem;
  color: antiquewhite;
}

/* =========================== */
/* Banner */
/* =========================== */

/* =========================== */
/* About Section Starts*/
/* =========================== */
.banner {
  display: flex;
  flex-direction: row;
}



.profile-pic {
  width: 40%;
}

.profile-pic img {
  max-width: 100%;
  max-height: 80vh;
  padding: 2rem;
}

.about-me {
  align-items: center;
  width: 60%;
  text-align: justify;
  text-justify: inter-word;
}

.about-me h1 {
  /* position: relative;  */
  font-family: "Courier New", Courier, monospace;
  color: gold;
  line-height: 2rem;
  margin: 1rem;
}

@media only screen and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-pic {
    width: 100%;
  }

  .about-me {
    width: 100%;
  }
}

/* =========================== */
/* About Section Ends*/
/* =========================== */



/* =========================== */
/* Education Starts */
/* =========================== */
.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: auto;
}

.edu-card {
  width: 90%;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.7rem;
}

.edu-card h2 {
  text-align: center;
  margin: 0.5rem;
}

.edu-card h4 {
  margin: 0.5rem;
  text-align: center;
}

.edu-card p {
  margin: 0.5rem;
  text-align: center;
}

#college-card {
  border: 2px solid var(--col5);
  background-color: transparent;
  color: wheat;
}

#school-card {
  background-color: var(--col5);
}

@media only screen and (max-width: 400px) {
  .education {
    display: flex;
    flex-direction: column;
  }
}

/* =========================== */
/* Education Ends */
/* =========================== */

.line-1 {
  height: 1px;
  width: 90vw;
  background: rgb(204, 106, 106);
  margin-top: 1rem;
  margin-bottom: 1rem;
}



/* Skills */

.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: auto;
  padding: 1rem;
}

.skill-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--col4);

  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.skill-card:hover {
  transform: scale(1.25);
}

.skill-card img {
  height: 64px;
  width: 64px;
}



.skill-card h3 {
  width: 10rem;
  text-align: center;
  color: var(--col4);
}

@media only screen and (max-width: 1200px) {
  .skill-grid {
    grid-template-columns: 1fr;
  }
}


/* Skills Ends */


/* Programming Starts */
.pro-profile {
  color: #04aa6d;

}

.coding-img {
  width: 30%;
  align-content: center;
}

.coding-img img {
  max-width: 100%;
  max-height: 100%;
}

.coding-details {
  width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.coding-details h1 {
  color: gold;
}

.coding-details p {
  text-indent: 20%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.coding-details p span {
  color: gold;
  /* font-style: italic; */
}

.coding-details a {
  background-color: gray;
  padding: 0.2rem;
}

.coding-details a,
h1,
p {
  margin-bottom: 1rem;
}


.pro-profile-card {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid var(--col5);
  box-shadow: var(--col5) 0px 1.5px 6px;
}

@media only screen and (max-width: 400px) {
  .pro-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coding-details {
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    text-align: center;
  }

  .coding-details p {
    text-indent: 0px;
  }

  .coding-details h1,
  p,
  a {
    margin-bottom: 1rem;
  }
}

/* Programming Ends */

/* Certificates Starts */
.certificate-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificate-img {
  width: 25%;
  justify-content: center;
}

.certificate-img img {
  max-width: 100%;
  max-height: 100%;
}

.certificate-details {
  width: 70%;
  text-align: left;
  color: goldenrod;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.certificate-details ul {
  list-style-type: none;
}

.certificate-container ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  word-spacing: 1px;
}

.certificate-container ul li::before {
  content: "⭐";
}

@media only screen and (max-width: 400px) {
  .certificate-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .certificate-details {
    width: 100%;
  }
}

/* Certifciates Ends */




/* Contact Form Starts */
.contact-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-card {
  width: 15rem;
}

.contact-card h3 {
  color: gold;
}

.contact-card img {
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 1200px) {
  .contact-box {
    display: flex;
    flex-direction: column;
  }
}

/* Contact form ends */

/* Footer Starts */

footer {
  text-align: center;
  padding: 30px 0;
  width: auto;
  margin: -8px -8px -8px -8px;
  color: #fff;
  position: relative;
  clear: both;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Footer Ends */


/* Gold Button */
.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Menlo, sans-serif;

  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), 0px 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid #ba6;
}

.custom-btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.gold-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 217, 0, 0.707)), to(rgba(218, 165, 32, 0.373)));
}